#!/usr/bin/env bash
set -euo pipefail

WORKDIR=$(CDPATH="cd -- $(dirname -- "$0")" && pwd -P)
export WORKDIR

mkdir -p "${WORKDIR}/.cache"
export WORKON_HOME="${WORKDIR}/.cache/venv"
layout pipenv

export ANSIBLE_PLAYBOOK_DIR="${WORKDIR}/ansible/"
export ANSIBLE_ROLES_PATH="${WORKDIR}/ansible/roles"

export ANSIBLE_PIPELINING=true
export ANSIBLE_SCP_EXTRA_ARGS=-O
export ANSIBLE_SCP_IF_SSH=true
export ANSIBLE_SSH_TRANSFER_METHOD=smart

if [ "$(uname -m)" = "x86_64" ]; then
    export PACKER_IMAGE_ARCH="amd64"
elif [ "$(uname -m)" = "arm64" ]; then
    export PACKER_IMAGE_ARCH="arm64"
else
    echo "Unsupported architecture: $(uname -m)"
    exit 1
fi
export PACKER_IMAGE_URL="file://${WORKDIR}/.cache/packer/image/tenminutevpn-${PACKER_IMAGE_ARCH}.raw"
export PACKER_IMAGE_CHECKSUM="sha512:file://${WORKDIR}/.cache/packer/image/SHA512SUMS"

export MOLECULE_PLATFORM_ARCH=$(uname -m)
case "${MOLECULE_PLATFORM_ARCH}" in
    x86_64)
        export MOLECULE_PLATFORM_IMAGE_ARCH="amd64"
        ;;
    arm64)
        export MOLECULE_PLATFORM_IMAGE_ARCH="aarch64"
        ;;
    *)
        echo "Unsupported architecture: ${MOLECULE_ARCH}"
        exit 1
        ;;
esac

export MOLECULE_PLATFORM_IMAGE_URL="https://cloud.debian.org/images/cloud/bookworm/latest/debian-12-genericcloud-${MOLECULE_PLATFORM_ARCH}.qcow2"
export MOLECULE_PLATFORM_IMAGE_CHECKSUM="sha512:https://cloud.debian.org/images/cloud/bookworm/latest/SHA512SUMS"
