### shell #####################################################################
dotenv_if_exists

WORKDIR=$(CDPATH="cd -- $(dirname -- "$0")" && pwd -P)
export WORKDIR

### terraform #################################################################
export TF_PLUGIN_CACHE_DIR=${WORKDIR}/.terraform
mkdir -p "${TF_PLUGIN_CACHE_DIR}"

### terragrunt ################################################################
export TERRAGRUNT_DOWNLOAD=${WORKDIR}/.terragrunt-cache
mkdir -p "${TERRAGRUNT_DOWNLOAD}"
