### shell #####################################################################
dotenv_if_exists

WORKDIR=$(CDPATH="cd -- $(dirname -- "$0")" && pwd -P)
export WORKDIR

mkdir -p "${WORKDIR}/.cache"

### terraform #################################################################
export TF_PLUGIN_CACHE_DIR=${WORKDIR}/.cache/terraform
mkdir -p "${TF_PLUGIN_CACHE_DIR}"

### terragrunt ################################################################
export TERRAGRUNT_DOWNLOAD=${WORKDIR}/.cache/terragrunt
mkdir -p "${TERRAGRUNT_DOWNLOAD}"
