#!/usr/bin/env bash
set -euo pipefail

WORKDIR=$(CDPATH="cd -- $(dirname -- "$0")" && pwd -P)
export WORKDIR

mkdir -p "${WORKDIR}/.cache"
export WORKON_HOME="${WORKDIR}/.cache/venv"
layout pipenv

export ANSIBLE_CONFIG="${WORKDIR}/ansible.cfg"
