#!/usr/bin/env bash
set -euo pipefail

WORKDIR=$(CDPATH="cd -- $(dirname -- "$0")" && pwd -P)
export WORKDIR

export PIPENV_VENV_IN_PROJECT=1
layout pipenv

export ANSIBLE_CONFIG="${WORKDIR}/ansible.cfg"
