#!/usr/bin/env bash
set -euo pipefail

WORKDIR=$(CDPATH="cd -- $(dirname -- "$0")" && pwd -P)
export WORKDIR

mkdir -p "${WORKDIR}/.cache"
export WORKON_HOME="${WORKDIR}/.cache/venv"
layout pipenv

export ANSIBLE_PIPELINING=true
export ANSIBLE_SCP_EXTRA_ARGS=-O
export ANSIBLE_SCP_IF_SSH=true
export ANSIBLE_SSH_TRANSFER_METHOD=smart

export MOLECULE_IMAGE_URL="${WORKDIR}/.cache/packer/image/tenminutevpn.raw"
export MOLECULE_IMAGE_CHECKSUM=$(cat "${WORKDIR}/.cache/packer/image/SHA512SUMS" | grep tenminutevpn.raw | awk '{print $1}')
