#!/usr/bin/env bash
set -euo pipefail

WORKDIR=$(CDPATH="cd -- $(dirname -- "$0")" && pwd -P)
export WORKDIR

mkdir -p "${WORKDIR}/.cache"
export WORKON_HOME="${WORKDIR}/.cache/venv"
layout pipenv

export MOLECULE_IMAGE_URL="${WORKDIR}/../packer/.cache/packer/image/tenminutevpn.raw"
export MOLECULE_IMAGE_CHECKSUM=$(cat "${WORKDIR}/../packer/.cache/packer/image/SHA512SUMS" | grep tenminutevpn.raw | awk '{print $1}')
